{% load static %}
{% include "slider.html" %}

<!-- Start Service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">SERVİSLER</h2>
                    <span class="line"></span>
                    <p>Müşterilerinize hangi ürün veya çözümle ilgili ne tarz bir servis hizmetinin verildiğini,hangi servisin ne durumda son bulduğunu,hangi kullanıcınızın ilgilendiğini listelerinizden takip edebilmek ve raporunu almak isterseniz servis yönetimi modülünü kullanabilirsiniz.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="service-content">
                    <div class="row">
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-desktop service-icon"></i>
                                <h4 class="service-title">Web Development</h4>
                                <p>Çoğu kişi ya tasarım ya da geliştirme konusunda daha yeteneklidir, ancak çapraz bilgisi sayesinde web tasarımı hakkında bir şeyler bildikleri ve aynı zamanda sıfırdan bazı yazılımlar geliştirdikleri anlamına gelir.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-paw service-icon"></i>
                                <h4 class="service-title">Digital Design</h4>
                                <p>Dijital Tasarım ve dijital mecra denince akla ilk web siteleri ve web tasarım gelmektedir.Firmalar oluşturdukları web siteleri ile kendi reklam mecralarını yaratabilmektedir.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-magic service-icon"></i>
                                <h4 class="service-title">Marketing</h4>
                                <p>İşletmenin, belirli faaliyetlerini maddi kara dönüştürmesi için yürüttüğü sürece bu faaliyetler, ürün veya hizmet olabilir.Yani, bir ürünün üretiminden dağıtımına; dağıtımından son tüketiciye ulaştırılmasına kadar izlenen stratejidir.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-shopping-cart service-icon"></i>
                                <h4 class="service-title">E-commerce</h4>
                                <p>E-ticaret siteleri, genellikle oldukça niş odaklıdır.Belirli bir ürün, hizmet ya da fikir için pazarda boşluk tespit eden e-ticaret girişimleri kendilerini bu niş ürünlerin veya hizmetlerin sağlanmasında lider olarak pazarlarlar.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-mobile service-icon"></i>
                                <h4 class="service-title">App Development</h4>
                                <p>E-girişimciler artık sadece e-ticaret ile sınırlı kalmıyorlar.Bunun yerine mobil uygulamalara ağırlık vererek çok daha fazla hedef kitleye ulaşma çabası içerisindeler.Mobil cihaz kullanım sürelerinin artması, kullanıcı yaş aralığının genişlemesi de mobil uygulama geliştirmeye olan ilgiyi arttırıyor.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-rocket service-icon"></i>
                                <h4 class="service-title">S.E.O</h4>
                                <p>Bir SEO ile çalışma kararı, sitenizi geliştirebilecek ve size zaman kazandırabilecek büyük bir karardır, ancak sitenize ve itibarınıza zarar verme riski de vardır.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Start Clients brand -->
<section id="clients-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clients-brand-area">
                    <ul class="clients-brand-slide">
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/tuenti.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/tuenti.png" alt="img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Clients brand -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON HABERLER</h2>
                    <span class="line"></span>
                    <p>Ülkede ve dünyada son gün ya da günlerde yer alan olaylarla ilgili olarak basın, yayın ve iletişim organlarıyla kamuya iletilen her türlü bilgidir.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestnews %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Cihazların ister işletmenin tesisi içinde ister bulut ortamında olsun her yerden uzaktan yönetilebilmesini sağlayarak, işletmelerin destek, PC bakım ve çalışanların aksama süreleri gibi konularda hem paradan hem de zamandan tasarruf etmelerine yardımcı olabiliyor.</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON ETKİNLİKLER</h2>
                    <span class="line"></span>
                    <p>Etkinlik,öğretim programının kazanımlarını (öğrencinin göstermesi beklenen) gerçekleştirmeye yönelik,çevresel özellikler ile öğrencilerin ilgi ve ihtiyaçlarının dikkate alındığı,öğrencilerin öğrenmelerinde aktif rol üstlenerek birbirleriyle ve öğretmenleriyle etkileşimde bulundukları,sonunda bilgiye ulaşarak ulaştıkları bilgiyi yapılandırdıkları bir öğrenme-öğretme sürecidir.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestevents %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Aktif öğrenme öğrencilerin öğrenme sürecinin sorumluluğunu taşıdığı,öğrenmeye etkin olarak katılımlarının sağlandığı,yaparak-yaşayarak öğrenmenin temele alındığı bir öğrenme sürecidir.Bu yöntemle ezbercilik önlenerek düşünen,araştıran,sorgulayan,üreten,sorun çözen ve eleştirel düşünen bireyler yetiştirilebilir.</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON DUYURULAR</h2>
                    <span class="line"></span>
                    <p>Herhangi bir olguyu,bir işi,bir durumu duyurmak için yayımlanan yazılı veya sözlü haber,ilan,anons.Bir vargının ya da sonuç doğuracak bir tüze işleminin,ilgililerin öğrenmelerini sağlamak üzere herkesin bilgisine sunulması,yayılması,duvarlara asılması,gazetelerde yayımlanması.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestannouns %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Bilgisayarlarda yüklü olan Microsoft işletim sistemlerini güncelleme,Microsoft Office Uygulamalarını kurma,kullanma,CRM ürülerini güncelleme sunucu sistemlerini kullanma ve güncelleme ile ilgili yıllık lisans kiralama hizmet alımıdır.</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->

<!-- Start Pricing table -->
<section id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">TAKIM LİDERLERİ</h2>
                    <span class="line"></span>
                    <p>Yoğunlaşan rekabet baskılarıyla baş etmeye çalışan çok sayıda yönetici, takım yaklaşımının daha yüksek verim sağladığı, emek maliyetlerini düşürdüğü ve çalışanları şirkete daha bağlı hale getirdiği iddiasındadır.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="our-team-content">
                    <div class="row">
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>John Doe</p>
                                    <span>CEO</span>
                                </div>
                                <p>Kendi kendini yöneten takımlar, pazardaki değişikliklere ve teknolojik ilerlemelere daha hızlı uyum sağlayabilecek olan, daha yalın ve daha esnek organizasyonların köşe taşı olarak takdim edilmiştir. Çapraz fonksiyonlu takımlar artık, daha yaratıcı, daha az problem yüklü çözümleri daha hızlı üretmenin bir aracı olarak bir hayli kabul görmektedir.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>Bernice Neumann</p>
                                    <span>Designer</span>
                                </div>
                                <p>Kendi kendini yöneten takımlar, pazardaki değişikliklere ve teknolojik ilerlemelere daha hızlı uyum sağlayabilecek olan, daha yalın ve daha esnek organizasyonların köşe taşı olarak takdim edilmiştir. Çapraz fonksiyonlu takımlar artık, daha yaratıcı, daha az problem yüklü çözümleri daha hızlı üretmenin bir aracı olarak bir hayli kabul görmektedir.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>David Cameron</p>
                                    <span>Developer</span>
                                </div>
                                <p>Kendi kendini yöneten takımlar, pazardaki değişikliklere ve teknolojik ilerlemelere daha hızlı uyum sağlayabilecek olan, daha yalın ve daha esnek organizasyonların köşe taşı olarak takdim edilmiştir. Çapraz fonksiyonlu takımlar artık, daha yaratıcı, daha az problem yüklü çözümleri daha hızlı üretmenin bir aracı olarak bir hayli kabul görmektedir.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>joe Man</p>
                                    <span>Designer</span>
                                </div>
                                <p>Kendi kendini yöneten takımlar, pazardaki değişikliklere ve teknolojik ilerlemelere daha hızlı uyum sağlayabilecek olan, daha yalın ve daha esnek organizasyonların köşe taşı olarak takdim edilmiştir. Çapraz fonksiyonlu takımlar artık, daha yaratıcı, daha az problem yüklü çözümleri daha hızlı üretmenin bir aracı olarak bir hayli kabul görmektedir.</p>
                                <div class="team-member-link">
                                    <a href=https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing table -->

<!-- Start subscribe us -->
<section id="subscribe">
    <div class="subscribe-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-area">
                        <h2 class="wow fadeInUp">Subscribe Newsletter</h2>
                        <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s"
                              data-wow-delay="0.5s">
                            <input type="text" placeholder="Enter Your E-mail..">
                            <button class="subscribe-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End subscribe us -->
