{% load static %}
{% include "slider.html" %}

<!-- Start Service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">SERVİSLER</h2>
                    <span class="line"></span>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="service-content">
                    <div class="row">
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-desktop service-icon"></i>
                                <h4 class="service-title">Web Development</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-paw service-icon"></i>
                                <h4 class="service-title">Digital Design</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-magic service-icon"></i>
                                <h4 class="service-title">Marketing</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-shopping-cart service-icon"></i>
                                <h4 class="service-title">E-commerce</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-mobile service-icon"></i>
                                <h4 class="service-title">App Development</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-rocket service-icon"></i>
                                <h4 class="service-title">S.E.O</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Start Clients brand -->
<section id="clients-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clients-brand-area">
                    <ul class="clients-brand-slide">
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/tuenti.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="../static/images/tuenti.png" alt="img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Clients brand -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON HABERLER</h2>
                    <span class="line"></span>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestnews %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                        <a class="blog-author" href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.slug }}</a> <span class="blog-date"></span>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON ETKİNLİKLER</h2>
                    <span class="line"></span>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestevents %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                        <a class="blog-author" href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.slug }}</a> <span class="blog-date"></span>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->


<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">EN SON DUYURULAR</h2>
                    <span class="line"></span>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        {% for rs in latestannouns %}
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                        <a class="blog-author" href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.slug }}</a> <span class="blog-date"></span>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the</p>
                                        <a class="blog-more-btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Read More <i
                                                class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->

<!-- Start Pricing table -->
<section id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">TAKIM LİDERLERİ</h2>
                    <span class="line"></span>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="our-team-content">
                    <div class="row">
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>John Doe</p>
                                    <span>CEO</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>Bernice Neumann</p>
                                    <span>Designer</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>David Cameron</p>
                                    <span>Developer</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="../static/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>joe Man</p>
                                    <span>Designer</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                <div class="team-member-link">
                                    <a href=https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing table -->

<!-- Start subscribe us -->
<section id="subscribe">
    <div class="subscribe-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-area">
                        <h2 class="wow fadeInUp">Subscribe Newsletter</h2>
                        <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s"
                              data-wow-delay="0.5s">
                            <input type="text" placeholder="Enter Your E-mail..">
                            <button class="subscribe-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End subscribe us -->
