{% extends "homebase.html" %}
{% block title %} {{ content.title }} Contents {% endblock %}
{% block keywords %} {{ content.keywords }} {% endblock %}
{% block description %} {{ content.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" xmlns="http://www.w3.org/1999/html">
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Start single page header -->
    <section id="single-page-header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-left">
                            <h2>Açıklama</h2>
                            <p>Açıklama Sayfasına Hoşgeldiniz..</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-right">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Açıklama</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End single page header -->

    <!-- Start blog archive -->
    <section id="blog-archive">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-archive-area">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="blog-archive-left">
                                    <!-- Start blog news single -->
                                    <article class="blog-news-single">
                                        <div class="blog-news-img">
                                            <a href="blog-single-with-right-sidebar.html"><img
                                                    src="{{ content.image.url }}" alt="image"></a>
                                        </div>
                                        <div class="blog-news-title">
                                            <h2><a href="blog-single-with-right-sidebar.html">{{ content.title }}y</a>
                                            </h2>
                                            <a class="blog-author" href="#">{{ content.slug }}</a> <span
                                                class="blog-date">{{ content.title }}</span>
                                        </div>
                                        <div class="blog-news-details">
                                            <p>{{ content.detail|safe }} </p>
                                            <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">Read
                                                More <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </article>


                                    <div class="category-tab shop-details-tab"><!--category-tab-->
                                        <div class="col-sm-12">
                                            <ul class="nav nav-tabs">
                                                <li><a href="#details" data-toggle="tab">Details</a></li>
                                                <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                                                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade active in" id="reviews">

                                            <div class="response-area">
                                                <h2>RESPONSES</h2>
                                                <ul class="media-list">
                                                    {% for com in comments %}
                                                        <li class="media">

                                                            <a class="pull-left" href="#">
                                                                <img class="media-object" src="{{ content.image.url }}"
                                                                     alt="User image" style=" height: 100px;width: 100px">
                                                            </a>
                                                            <div class="media-body">
                                                                <ul class="sinlge-post-meta">
                                                                    <li><i class="fa fa-user"></i>{{ com.user.first_name }} {{ com.user.last_name }}</li>
                                                                    <li><i class="fa fa-clock-o"></i> {{ com.create_at }}</li>
                                                                    <li><i class="fa fa-calendar"></i> {{ com.create_at }}</li>
                                                                </ul>
                                                                <h5>Subject:{{ com.subject }}</h5>
                                                                <p>{{ com.comment }}</p>
                                                                <a class="btn" href=""><i
                                                                        class="fa fa-reply"></i>Replay</a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div><!--/Response-area-->

                                            <div class="col-sm-12">
                                                <ul>
                                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a>
                                                    </li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                    nulla pariatur.</p>
                                                <p><b>Write Your Review</b></p>

                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                                <form action="/content/addcomment/{{ content.id }}" method="post">
                                                    {% csrf_token %}
                                                    <span><input type="text" name="subject" placeholder="Subject"/></span>

                                                    <textarea name="comment"
                                                              placeholder="Type your comment here"></textarea>

                                                    <div class="form-group">
                                                        <strong class="text-uppercase">
                                                            Your Rating:
                                                        </strong>
                                                        <input id="star1" type="radio" name="rate" value="1"/><label
                                                            for="star1"></label>
                                                        <input id="star2" type="radio" name="rate" value="2"/><label
                                                            for="star2"></label>
                                                        <input id="star3" type="radio" name="rate" value="3"/><label
                                                            for="star3"></label>
                                                        <input id="star4" type="radio" name="rate" value="4"/><label
                                                            for="star4"></label>
                                                        <input id="star5" type="radio" name="rate" value="5"/><label
                                                            for="star5"></label>

                                                    </div>

                                                    {% if user.id is not  None %}
                                                        <button class="btn btn-default pull-right">
                                                            Submit
                                                        </button>

                                                    {% else %}
                                                        Yorum Eklemek için Üye olun!
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/category-tab-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



