{% load static %}
<!-- BEGIN MENU -->
<section id="menu-area">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" href="index.html">NEVA BİLİŞİM</a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <li class="active"><a href="/">ANASAYFA</a></li>
                    <li><a href="/hakkimizda">HAKKIMIZDA</a></li>
                    <li><a href="service.html">SERVİSLER</a></li>
                    <li><a href="portfolio.html">GALERİ</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">KATEGORİLER<span
                                class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            {% load mptt_tags %}

                            {% recursetree category %}
                                <li {% if not node.is_leaf_node %} class="dropdown" {% endif %}>
                                <a href="/category/{{ node.slug }}" >{{ node.title }}<span
                                      {% if not node.is_leaf_node %}  class="fa fa-angle-down" {% endif %} ></span></a>

                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu">

                                        <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>

                                    </ul>
                                {% endif %}
                                </li>
                            {% endrecursetree %}

                            <li><a href="blog-archive.html">Blog Arşivi</a></li>
                            <li><a href="blog-single-with-left-sidebar.html">Blog Single with Left Sidebar</a></li>
                            <li><a href="blog-single-with-right-sidebar.html">Blog Single with Right Sidebar</a></li>
                            <li><a href="blog-single-with-out-sidebar.html">Blog Single with out Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="/referanslar">REFERANSLAR</a></li>
                    <li><a href="/iletisim">İLETİŞİM</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <a href="#" id="search-icon">
                <i class="fa fa-search">
                </i>
            </a>
        </div>
    </nav>
</section>
<!-- END MENU -->