{% load static %}
<!-- BEGIN MENU -->
<section id="menu-area">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" href="/">NEVA BİLİŞİM</a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <li class="active"><a href="/">ANASAYFA</a></li>
                    <li><a href="/hakkimizda">HAKKIMIZDA</a></li>

                    {% load mptt_tags %}

                    {% recursetree category %}

                        {% if not node.is_leaf_node %}

                            <li class="dropdown">
                                <a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" data-toggle="dropdown">{{ node.title }}<span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {{ children }}
                                </ul>
                            </li>
                        {% endif %}

                        {% if  node.is_leaf_node %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                        {% endif %}

                    {% endrecursetree %}

                    <li><a href="/referanslar">REFERANSLAR</a></li>
                    <li><a href="/sss">SSS</a></li>
                    <li><a href="/iletisim">İLETİŞİM</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <a href="#" id="search-icon">
                <i class="fa fa-search">
                </i>
            </a>
        </div>
    </nav>
</section>
<!-- END MENU -->