{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block body %}

    <!-- Start single page header -->
    <section id="single-page-header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-left">
                            <h2>USER PROFİLE</h2>
                            <p>User Profile Sayfasına Hoşgeldiniz..</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-right">
                            <ol class="breadcrumb">
                                <li><a href="/">Anasayfa</a></li>
                                <li class="active">User Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End single page header -->

    <!-- Start contact section  -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="cotact-area">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="contact-area-left">
                                    {% include "user_panel.html" %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="contact-area-right">
                                    <h4 class="widget-title">CHANGE PASSWORD</h4>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div style="color:#d43f3a; font-size: medium">
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="post">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p style="...">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                    {% endfor %}

                                    <button class="comment-btn" type="submit">Save Changes</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End contact section  -->

{% endblock %}



