{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block body %}

    <!-- Start single page header -->
    <section id="single-page-header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-left">
                            <h2>USER PROFİLE</h2>
                            <p>User Profile Sayfasına Hoşgeldiniz..</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-right">
                            <ol class="breadcrumb">
                                <li><a href="/">Anasayfa</a></li>
                                <li class="active">User Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End single page header -->

    <!-- Start contact section  -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="cotact-area">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="contact-area-left">
                                    {% include "user_panel.html" %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="contact-area-right">
                                    <h4 class="widget-title">USER UPDATE</h4>
                                </div>
                                <div class="content-section">
                                    <div class="media">
                                        <img src="{{ user.userprofile.image.url }}" style=" height: 150px ;border-radius: 45px">
                                    </div>
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            {{ user_form.as_p }}
                                            {{ profile_form.as_p }}
                                        </fieldset>
                                        <div class="form-group">
                                            <button class="comment-btn" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact section  -->

{% endblock %}



