{% extends "homebase.html" %}

{% block title %} Contents {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block body %}
{% load static %}
    <!-- Start single page header -->
    <section id="single-page-header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-left">
                            <h2>USER CONTENTS</h2>
                            <p>User Contents Sayfasına Hoşgeldiniz..</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single-page-header-right">
                            <ol class="breadcrumb">
                                <li><a href="/">Anasayfa</a></li>
                                <li class="active">User Contents</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End single page header -->

    <!-- Start contact section  -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="cotact-area">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="contact-area-left">
                                    {% include "user_panel.html" %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="contact-area-right">
                                    <h4 class="widget-title">USER CONTENTS LİST <a class="comment-btn" href="/user/addcontent">Add Content</a> </h4>
                                    <table class="shopping-cart-table table">
                                        <tr>
                                            <th class="text-left">Image</th>
                                            <th class="text-left">Title</th>
                                            <th class="text-left">Category</th>
                                            <th class="text-left">Gallery</th>
                                            <th class="text-left">Status</th>
                                            <th class="text-left">Date</th>
                                            <th class="text-left">Detail</th>
                                        </tr>
                                        {% for rs in contents %}
                                            <tr>
                                                <td class="text-left">
                                                    <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                                        <img src="{{ rs.image.url }}" style="height: 30px;">
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                                        {{ rs.title }}
                                                    </a>
                                                </td>
                                                <td class="text-left">{{ rs.category.title }}</td>
                                                <td class="text-left">
                                                    <a href="javascript:;" onclick="window.open('/user/contentaddimage/{{ rs.id }}', 'galery', 'height=680,width=800,top=50,left=150')">
                                                        <img src="{% static '' %}images/gallery.png" height="40">
                                                    </a>
                                                </td>
                                                <td class="text-left">{{ rs.status }}</td>
                                                <td class="text-left">{{ rs.create_at }}</td>
                                                <td class="text-left">
                                                    <a class="comment-btn" href="/user/contentedit/{{ rs.id }}">Edit</a>
                                                </td>
                                                <td class="text-left">
                                                    <a onclick="return confirm('Will be Delete ! Are you sure?')" class="comment-btn" href="/user/contentdelete/{{ rs.id }}">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact section  -->

{% endblock %}



